<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="myApp">


<div ng-controller="mainCtrl">

    <ul>
        <li ng-repeat="item in dat"><span ng-click="removeItem(item)">x... </span>{{item}}</li>
    </ul>

</div>

Create:<br>
<input id="create" type="text"/><br>
Edit:<br>
<input id="putter" type="text"/>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/angular-route/angular-route.min.js"></script>
<script src="/angular-resource/angular-resource.min.js"></script>
<script src="/main.js"></script>

</body>
</html>